
<!--
<div class="row">
	<div class="blue lighten-5 col s3">
		<div class="row">
			<div class="col s6">
				<img src="assets/images/check.png" height="20px" width="20px">
                <button class="grey lighten-2" type="button">Ajouter</button>
			</div>
			<div class="col s6">
				<img src="assets/images/7098.png" height="20px" width="20px">
                <button class="grey lighten-2" type="button">Supprimer</button>
			</div>
		</div>
	</div>

	<div class="col s9">
        <div class="row">
            <div class="col s4">
                <label class="col s4">Nom :</label>
                <input type="text" id="nom" class="col s8">
            </div>
            <div class="col s4">
                <label class="col s4">Prenom :</label>
                <input type="text" id="prenom" class="col s8">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <label class="col s4">Age :</label>
                <input type="text" id="age" class="col s8">
            </div>
            <div class="col s4">
                <label class="col s4">Numéro :</label>
                <input type="text" id="numero" class="col s8">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <label class="col s4">Adresse :</label>
                <input type="text" id="adresse" class="col s8">
            </div>
            <div class="col s4">
                <label class="col s4">Société :</label>
                <input type="text" id="societe" class="col s8">
            </div>
        </div>
	</div>
</div>
-->


<router-outlet></router-outlet>
